a{
  text-decoration: none;
}
.header {
  border-bottom: 1px solid rgb(185, 185, 183);
  margin-bottom: 20px;
}

.container-fluid {
  justify-content: center;
  color: black !important;
}

.nav-item {
  font-size: 15px;
  font-weight: 400;
  padding: 0 120px 0 0;
  justify-content: center;
  align-items: center;
}

.nav-item a {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 24px;
  color: #000000 !important;
}

.nav-item a:hover {
  color:rgb(255, 0, 0)!important;
}

.navbar-brand {
  width: 35%;
  font-size: 35px;
  font-weight: 500;
  padding: 0 150px 0;
}

.carousel-inner {
  padding: 0px;
}

/* css for ::content */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-title {
  font-size: 17px;
  font-weight: 20px;
  font-weight: 400;
}

.product-price {
  line-height: 22px;
  font-weight: 700;
  text-align: right;
}

.listed-price {
  text-decoration: line-through solid black;
}

.content-shoe .row {
  margin: 20px 0 0 70px;
}

.content-shoe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

.card:hover {
  box-shadow: 3px 0 3px rgb(119, 109, 109);
  cursor: pointer;
}

.content-shoe .col {
  margin: 0 0 20px 0;
}

.content {
  display: flex;
}

.content>h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 0 0;
}

.content-shoe {
  max-width: 1399px;
  margin: 0 auto;
}

.footer-content {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-content h3 {
  font-size: 16px;
  color: black;
  font-weight: 300;
  padding: 10px 20px;
  border: 2px solid #000000;
  display: inline-block;
}

/* *************************** */

/* ***************************** */
/* CSS FOR VIEW INFOMATION BY SHOE MALE AND FEMALE */
.product {
  width: 95%;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* css for product-content-left */
.product-content-left {
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 70px;
}

.product-content-left img {
  width: 100%;
  height: 100%;
}

.product-content-left-big-img {
  width: 140%;
}

.product-content-left-small-img {
  display: flex;
  max-width: 100%;
  text-align: center;
  margin-top: 15px;
}

.product-content-left-small-img img {
  max-width: 30%;
  margin-right: 7%;
  cursor: pointer;
}

/* css for product-content-right */
.product-content-right {
  width: 100%;
  margin-left: 15px;
}

.product-content-right-item {
  max-width: 100%;
}

.product-name {
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
}

.countdown {
  color: white;
  background-color: black;
}

.product-price {
  font-size: 17px;
  line-height: 24px;
  text-align: left;
}

.table-bordered {
  font-size: 15px;
  line-height: 20px;
}

.cproduct-property-label {
  font-size: 16px;
  line-height: 18px;
}

.product-color img {
  height: 50px;
  width: 50px;
  max-width: 100%;
  max-height: 100%;
}

.product-color span {
  cursor: pointer;
  margin-right: 10px;
}

.size {
  margin-top: 10px;
}

.product-size-options span {
  width: 35px;
  height: 35px;
  font-size: 16px;
  line-height: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
}

.product-amount-options span {
  width: 35px;
  height: 35px;
  font-size: 16px;
  line-height: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
}

.product-order {
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #dddd;
}

.product-order p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: 700;
  line-height: 21px;
  color: #dd085a;
  margin: 5px 0 5px 0;
  padding: 10px 10px 10px 10px;
}
.btn-primary a{
  color: white;
}
.btn-primary:hover{
  background-color: blue;
  color: white;
}
.btn-primary {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: white !important;
  background-color: #f24437;
  background-image: rgb(242, 68, 55);
  border: 1px solid #d02718;
  cursor: pointer;
}

/* ************************************ */
/* css for product-details */
.product-details {
  padding: 10px;
  margin-top: 30px;
  border-top: 2px dashed #dddd;
  justify-items: center;
  align-items: center;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin: 30px 10px;
  align-items: center;
  justify-content: center;
}

.product-details-content {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product-details-content1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.product-details-content span {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.product-details-img img {
  width: 800px;
  max-width: 100%;
  margin-top: 10px;
}

/* -------------------------------------- */
.details-table tr td {
  border: 1px solid #dddd;
  justify-content: center;
  align-items: center;
}

.details-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-details-table-left {
  width: 200px;
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  padding: 6px 6px 6px 6px;
}

.product-details-table-right {
  width: 800px;
  font-size: 17px;
  line-height: 22px;
  padding: 6px 6px 6px 6px;
}

/* ---------------------------------------------- */
/* css for product-evaluate */
.table-evaluate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-evaluate-content {
  border-top: 1px solid #dddd;
}
.table-evaluate-content img {
  width: 60px;
  height: 60px;
  margin:40px 10px 0;
}
.evaluate-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.evaluate-stars {
  color: #dd085a;
  font-size: 16px;
}

.evaluate-comment {
  font-size: 16px;
  line-height: 22px;
}

.product-details-submit {
  text-align: center;
}

/* END:CSS FOR VIEW INFOMATION BY SHOE MALE AND FEMALE*/

/* footer */

#footer {
  background-color: #eeeeee;
}

.contact-info {
  margin: 20px 0 0 0;
}

.more-info {
  text-align: right;
  margin: 20px 0 0 0;
}

.more-info a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}